[submodule "cloud-data"]
	path = cloud-data
	url = git@github.com:diegonmarcos/cloud-data.git
	ignore = all
[submodule "tools"]
	path = tools
	url = git@github.com:diegonmarcos/tools.git
	ignore = all
