[submodule "cloud-data"]
	path = cloud-data
	url = https://github.com/diegonmarcos/cloud-data.git
	ignore = all
[submodule "tools"]
	path = tools
	url = https://github.com/diegonmarcos/ops-Tooling.git
	ignore = all
